{% extends "layout_unbranded.html" %}

{% block page_title %}
  Iteration Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Our prototype
  </h1>
  
  <p class="lede">
    The latest version of our prototype:  
  </p>

  <p><a href="page-1">Our test prototype</a></p>
  
  <h2 class="heading-small">Previous versions</h2>

  <ul class="list bullet-list">
  	<li><a href="http://iteration-prototype-v1.herokuapp.com">Version 1</a></li>
  	<li><a href="http://iteration-prototype-v2.herokuapp.com">Version 2</a></li>
  </ul>

</main>

{% endblock %}
