{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="form/page-2" method="post" class="form">

        <h1 class="form-title heading-large">
          Your details
        </h1>

        <!-- Full name -->
        <div class="form-group">
          <label class="form-label-bold" for="full-name">Full name</label>
          <p class="form-hint">As shown on your birth certificate or passport</p>
          <input type="text" class="form-control" id="full-name" name="full-name">
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>
    </div>
  </div>

</main>

{% endblock %}